<div id="navBar">
  <div id="queryWrapper">
    <input type="text" id="query" required />
    <span class="bar"></span>
    <label id="searchLabel"><i class="fa fa-search"> Search</i></label>
  </div>
</div>

<div id="leftWrapper">
  <ul id="sourceSelectorWrapper">
    <li class="sourceList"><button id="allSelector" class="sourceSelector"><abbr title="All Sources"><i class="fa fa-music"></i></abbr></button></li>
    <li class="sourceList"><button id="spotifySelector" class="sourceSelector"><abbr title="Spotify"><i class="fa fa-spotify"></i></button></li>
    <li class="sourceList"><button id="soundcloudSelector" class="sourceSelector"><abbr title="SoundCloud"><i class="fa fa-soundcloud"></i></button></li>
    <li class="sourceList"><button id="youtubeSelector" class="sourceSelector"><abbr title="YouTube"><i class="fa fa-youtube-square"></i></button></li>
  </ul>
</div>

<div id="rightWrapper">
    <div id="spotifyResults" class="row"></div>
</div>

<div id="frameWrapper">
  <iframe id="spotifyFrame" src="https://embed.spotify.com/?uri=spotify:track:4th1RQAelzqgY7wL53UGQt" height="80" frameborder="0" allowtransparency="true"></iframe>
</div>
